<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.OperatelogMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Operatelog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="OperateId" jdbcType="INTEGER" property="operateid" />
    <result column="UserId" jdbcType="VARCHAR" property="userid" />
    <result column="OperateName" jdbcType="VARCHAR" property="operatename" />
    <result column="ObjectId" jdbcType="VARCHAR" property="objectid" />
    <result column="OperateDesc" jdbcType="VARCHAR" property="operatedesc" />
    <result column="OperateTime" jdbcType="TIMESTAMP" property="operatetime" />
  </resultMap>

  <select id="findLog" parameterType="map" resultType="map">
    SELECT
        OperateLog.OperateId operateId,
        UserInfo.UserName userName,
        OperateLog.OperateName operateName,
        OperateLog.OperateDesc operateDesc,
        OperateLog.OperateTime  operateTime
    FROM
        OperateLog,
        UserInfo
    WHERE
        OperateLog.UserId = UserInfo.UserId
        <if test="param.startTime!=null and param.startTime!=''">
          and OperateLog.OperateTime >=  #{param.startTime}
        </if>
        <if test="param.endTime!=null and param.endTime!=''">
          and OperateLog.OperateTime &lt;=  #{param.endTime}
        </if>
  </select>
</mapper>