<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.RoleinfoMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Roleinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="RoleId" jdbcType="INTEGER" property="roleid" />
    <result column="RoleName" jdbcType="VARCHAR" property="rolename" />
    <result column="RoleDesc" jdbcType="VARCHAR" property="roledesc" />
  </resultMap>


  <select id="findAll" resultType="roleinfo">
    SELECT * FROM RoleInfo where 1=1
  </select>
</mapper>