<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.SysfunMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Sysfun">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="NodeId" jdbcType="INTEGER" property="nodeid" />
    <result column="DisplayName" jdbcType="VARCHAR" property="displayname" />
    <result column="NodeURL" jdbcType="VARCHAR" property="nodeurl" />
    <result column="DisplayOrder" jdbcType="INTEGER" property="displayorder" />
    <result column="ParentNodeId" jdbcType="INTEGER" property="parentnodeid" />
  </resultMap>

  <select id="findSysfunByUserName" resultType="sysfun">
    SELECT *
      FROM
          SysFun
      WHERE
        NodeId IN (
          SELECT
              NodeId
          FROM
              RoleRight
          WHERE
          RoleId = ( SELECT RoleId FROM UserInfo WHERE UserName = #{userName} )
        ) ORDER BY ParentNodeId,DisplayOrder
  </select>
</mapper>