<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.WorktimeMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Worktime">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="WorkTimeId" jdbcType="INTEGER" property="worktimeid" />
    <result column="OnDutyTime" jdbcType="VARCHAR" property="ondutytime" />
    <result column="OffDutyTime" jdbcType="VARCHAR" property="offdutytime" />
  </resultMap>
</mapper>